<div class="main">
  <div class="main-name">
    <img src="../../../assets/img/svg/horse.svg" alt="Иконка">
    <span class="main-name__text">HorzeLand</span>
  </div>

  <div class="main-block main__input">
    <input class="main-search__input" type="text">
    <img class="main__loup" src="../../../assets/img/svg/loupe.svg" alt="">
  </div>

  <div class="main-block">
    <button class="main__button">Для всадника</button>
    <button class="main__button">Для лошади</button>
  </div>

  <div class="main-block">
    <button class="main__circle main__button"></button>
    <button class="main__button">
      <img src="../../../assets/img/svg/heart.svg" alt="Лайк">
    </button>
    <button class="main__button">
      <img src="../../../assets/img/svg/cart.svg" alt="Корзина">
    </button>
  </div>
</div>