<div class="main">
  <div class="main-block">
    <img class="main-block__img" [src]="product.image" alt="product.title" />
    <h2 class="main-block__title">{{ product.title }}</h2>
    <p>Price: <span class="main-block__price">{{ product.price | currency }}</span></p>

    <button 
      class="main-block__button" 
      (click)="showInfo = !showInfo"
      [ngClass]="{'main-block__button_false': showInfo}">
      {{ showInfo ? 'Hide' : 'Show' }} Details
    </button>

    <div *ngIf="showInfo">
      <p>{{ product.description }}</p>
      <p>Rate: <span span class="main-block__price">{{ product.rating.rate }}</span></p>
    </div>
  </div>
</div>
