.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(230, 67, 67);
  color: white;
  position: relative;
  &__button {
    background: transparent;
    border:  none;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}